@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body, html{
    width: 100vw;
    height: 100vh;
    background-color: darkslategrey;
}

h1{
    color: brown;
}

main{
    width: 80vw;
    background-color: aqua;
    margin: auto;
    
}

div{
    display: inline-block;
    text-align: center;
    padding:20px ;
}

input{
    display: block;
    margin: 10px;
}

